<?xml version="1.0"?>
<!--
/**
 * @author      Tsvetan Stoychev <t.stoychev@extendix.com>
 * @website     http://www.extendix.com
 * @license     http://opensource.org/licenses/osl-3.0.php Open Software Licence 3.0 (OSL-3.0)
 */
-->
<config>
    <modules>
        <Extendix_CartRestrictions>
            <version>1.0.0</version>
        </Extendix_CartRestrictions>
    </modules>
    <global>
        <models>
            <extendix_cartrestrictions>
                <class>Extendix_CartRestrictions_Model</class>
                <resourceModel>extendix_cartrestrictions_resource</resourceModel>
            </extendix_cartrestrictions>
            <extendix_cartrestrictions_resource>
                <class>Extendix_CartRestrictions_Model_Resource</class>
                <deprecatedNode>extendix_cartrestrictions_mysql4</deprecatedNode>
                <entities>
                    <rule>
                        <table>extendix_cartrestrictions_rule</table>
                    </rule>
                    <product_attribute>
                        <table>extendix_cartrestrictions_rule_product_attribute</table>
                    </product_attribute>
                    <website>
                        <table>extendix_cartrestrictions_rule_website</table>
                    </website>
                    <customer_group>
                        <table>extendix_cartrestrictions_rule_customer_group</table>
                    </customer_group>
                    <message>
                        <table>extendix_cartrestrictions_rule_message</table>
                    </message>
                </entities>
            </extendix_cartrestrictions_resource>
        </models>
        <resources>
            <extendix_cartrestrictions>
                <setup>
                    <module>Extendix_CartRestrictions</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </extendix_cartrestrictions>
        </resources>
        <helpers>
            <extendix_cartrestrictions>
                <class>Extendix_CartRestrictions_Helper</class>
            </extendix_cartrestrictions>
        </helpers>
        <blocks>
            <extendix_cartrestrictions>
                <class>Extendix_CartRestrictions_Block</class>
            </extendix_cartrestrictions>
        </blocks>
    </global>
    <frontend>
        <events>
            <!--
            Right now we are using event sales_quote_load_after there are some small disadvantages because we have
            manually to pre-calculate some address properties but:

            event sales_quote_collect_totals_after is very good place to execute the validation
            logic at this even because if we execute the code earlier some data may not persist in Objects needed for validation process.

            Good example is the quote address that may not contain property 'total_qty' if we use an event that
            is executed earlier because in collect totals we attach some required data for some validation rules
            -->
            <sales_quote_load_after>
                <observers>
                    <extendix_cartrestrictions_process_quote_rules>
                        <type>singleton</type>
                        <class>extendix_cartrestrictions/observer</class>
                        <method>processQuoteRules</method>
                    </extendix_cartrestrictions_process_quote_rules>
                </observers>
            </sales_quote_load_after>
            <sales_quote_config_get_product_attributes>
                <observers>
                    <salesrule>
                        <class>extendix_cartrestrictions/observer</class>
                        <method>addProductAttributes</method>
                    </salesrule>
                </observers>
            </sales_quote_config_get_product_attributes>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <extendix_cartrestrictions before="Mage_Adminhtml">Extendix_CartRestrictions_Adminhtml</extendix_cartrestrictions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <extendix_cartrestrictions>
                    <file>extendix_cartrestrictions.xml</file>
                </extendix_cartrestrictions>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <extendix_cartrestrictions>
            <settings>
                <enabled>0</enabled>
            </settings>
        </extendix_cartrestrictions>
    </default>
</config>